:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --section-title-color: #353430;
  --text-title-color: #353430;
  --section-text-color: #353430;
  --border-color: #353430;

}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --section-title-color: #353430;
    --text-title-color: #353430;
    --section-text-color: #353430;
    --border-color: #353430;
  }
}