.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-padding);
  margin-block-end: 30px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  padding: 1.5px 13px;
  line-height: 18px;
}

.header__theme-menu-item {
  color: var(--accent-color);
}

.header__element {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.header__title {
  justify-self: start;
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-family: var(--main-font-family);
}

.header__text-item {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  inline-size: 100%;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 50px;
  padding: var(--main-padding);
}

.section {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
}

.section__card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.section__title {
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.section__card-title {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.section__card-text {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--section-text-color);
  line-height: 23.4px;
}

.section__card-subtitle {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.section__card-text-link {
  border: none;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__card-text-link:hover {
  text-decoration: underline;
}

.section__card-text-link:focus {
  border: none;
  outline: 1px solid var(--section-text-color);
}