.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  margin-block-end: 30px;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 23px;
  padding-right: 15px;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.theme-light .header__rec {
  display: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  color: var(--section-title-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: 25px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
  outline: none;
}

.header__title {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
  color: var(--header-title-color);
  font-family: var(--main-font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__text-group {
  display: flex;
  flex-direction: column;
}

.header__text {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.title-decor {
  color: var(--text-title-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 10px;
}

.section__content {
  display: grid;
  gap: 20px;
}

.section__content-title {
  color: var(--section-title-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.cards {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.card-title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card-text {
  color: var(--section-text-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.section__content-main-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__content-subtitle {
  color: var(--text-title-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card-title-advice {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card-text-link {
  border: none;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card-text-link:hover {
  border-bottom: 1px solid var(--section-text-color);
}

.card-text-link:focus {
  outline: none;
}

.card-text-link:focus-visible {
  outline: 1px solid var(--section-text-color);
}

.section__gallery {
  display: grid;
  gap: 10px;
  inline-size: 100%;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 30px;
  block-size: 100vh;
  min-block-size: 375px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    margin-block-end: 40px;
    padding: 20px 20px 20px 0px;
  }

  .header__text {
    justify-self: end;
    max-width: 364px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__rec {
    top: 20px;
    right: 33px;
  }

  .main {
    gap: 80px;
    padding: 20px;
  }

  .section__content {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-row-start: 1;
    grid-row-end: auto;
  }

  .cards {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .section-reasons {
    display: flex;
    flex-direction: column;
  }

  .section-reasons-title {
    inline-size: calc(100% / 3 - 40px);
  }

  .section__gallery {
    gap: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset-img {
    grid-column: span 2;
    object-fit: cover;
    object-position: center;
  }

  .ice-cream-img {
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
  }

  .tape-img {
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
  }

  .book-img {
    object-fit: cover;
    object-position: center;
  }

  .street-img {
    grid-column-start: 2;
    grid-column-end: 4;
    object-fit: cover;
    object-position: center;
  }

  .footer {
    margin-block-start: 40px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .section__content {
    column-gap: 10px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-width: 491px;
  }

  .reasons-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
