:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --section-text-color: #f1b2ce;
  --bg-color: #000028;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --main-padding: 10px;
  --main-font-size: 18px;
}